<!DOCTYPE html>

<html lang="en">
<head>
        <meta charset="UTF-8">
		<style type="text/css">
@font-face {
    font-family: 'font';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.url_input{
		color: pink;
		position: absolute;
		top: 50px;
		font-size: 200%;
		font-family:font;
}
.title{
		color: black;
		text-align: center;
		font-size: 200%;
		font-family:font;
}
.submit{
		color: teal;
		top: 50px;
		font-size: 60%;
		font-family:font;
}
		</style>
		<title>URL 변환기 - 무료로 온라인에서 URL을 QR로 바꾸거나 단축</title>
</head>
<body>
		<h1 class="title">URL 변환기 - 무료로 온라인에서 URL을 QR로 바꾸거나 단축합니다</h1>
		<form action="/short-url" method="post"><div class="url_input">여기에 URL을 입력하세요 : <input type="text" name="url" id="url" size="20"><input class="submit" type="submit" value="제출"/>	</div></form>	
</body>
</html>
